{
  "extends": [
    "ipfs/js"
  ],
  "rules": {
    "no-await-in-loop": "off"
  },
  "overrides": [
    {
      "files": [
        "test/**/*.js"
      ],
      "env": {
        "mocha": true
      }
    }
  ]
}
